<header>
  <%= link_make logo, home_path %>
  <nav class="round">
    <ul>
      <li><%= link_make "Home", home_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Profile", current_user %></li>
      <% end %>
      <li><%= link_make "Help", help_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>

